<!DOCTYPE html>
<html>
<head> 
	<title>Log in</title>
</head>
<body>
  <form id="login_form" action="info" method="post">

 	<center><h1>Sistema de participacion ciudadana</h1></center>
 	<center><h2>Inicio de sesion</h2></center>
 	<hr/><br/>
 	<table align="center">
    	<tr> 
    		<td align="right">Usuario: </td>
	    	<td><input type="text" name="user" align="left" size="15" required = "required" placeholder="Login"/></td>
      	</tr>
      	<tr>
    	    <td align="right">Contrasena: </td>
      		<td><input type="password" name="password" align="left" size="15" required="required" placeholder="Password"/></td>
      	</tr>
      	<tr>
    	    <td><input id="btnEnviar" type="submit" value="Enviar"/></td>
    	    <td><input id="btnReset" type="reset" value="Reset"/></td>
      	</tr>
      </table>
   </form>
</body>
</html>
